<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="admin-manage">
        <parameter name = "username" value="mentorAdmin"/>
        <parameter name="password" value="abc123"/>
        <classes>
            <class name="TestClasses.AdminManagerTest"/>
        </classes>
    </test>
</suite>