<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="admin-manage">
        <parameter name = "adminUsername" value="mentorAdmin"/>
        <parameter name="adminPassword" value="abc123"/>
        <classes>
            <class name="TestClasses.AdminManagerTest"/>
        </classes>
    </test>
    <test name="Category test">
        <parameter name = "username" value="vivek"/>
        <parameter name="password" value="vivek123"/>
        <classes>
            <class name="Categorytest"/>
        </classes>
    </test>
</suite>